*.upx
/layer/*
loadgen/lambda.zip
loadgen/loadgen
loadgen/tempbuilddir/loadgensqs
loadgen/tempbuilddir/loadgensqs.go
*DS_Store

*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
